<template>
  <div>
  
    <section class="box-typical" v-if="!post">
  
      <header class="box-typical-header">
  
        <div class="tbl-row">
  
          <div class="tbl-cell tbl-cell-title">
  
            <h3>23 Ad Item </h3>
  
          </div>
  
          <div class="tbl-cell" style="width:150px;">
  
            <select name="status" id="exampleSelect" class="form-control">
  
                  <option value="1" selected>Start Date</option>
  
                  <option>2</option>
  
                  <option>3</option>
  
                  <option>4</option>
  
                </select>
  
          </div>
  
          <div class="tbl-cell" style="width:150px;">
  
            <select name="status" id="exampleSelect" class="form-control">
  
                  <option value="1" selected>End Date</option>
  
                  <option>2</option>
  
                  <option>3</option>
  
                  <option>4</option>
  
                </select>
  
          </div>
  
          <div class="tbl-cell" style="width:150px;">
  
            <select name="status" id="exampleSelect" class="form-control">
  
                  <option value="1" selected>Status</option>
  
                  <option>2</option>
  
                  <option>3</option>
  
                  <option>4</option>
  
                </select>
  
          </div>
  
          <div class="tbl-cell" style="width:150px;">
  
            <select name="sehir" id="exampleSelect" class="form-control">
  
                  <option value="1" selected>baksan</option>
  
                  <option>2</option>
  
                  <option>3</option>
  
                  <option>4</option>
  
                </select>
  
          </div>
  
          <div class="tbl-cell tbl-cell-action-bordered">
  
            <button type="button" class="action-btn"><i class="font-icon font-icon-re"></i></button>
  
          </div>
  
          <div class="tbl-cell tbl-cell-action-bordered" width="54">
  
            <button type="button" class="action-btn"><i class="font-icon font-icon-trash"></i></button>
  
          </div>
  
        </div>
  
      </header>
  
      <div class="box-typical-body">
  
        <div class="table-responsive">
  
          <table id="table-edit" class="table table-bordered table-hover">
  
            <thead>
  
              <tr>
  
                <th width="1">#</th>
  
                <th width="50">Thumb</th>
  
                <th>Title</th>
  
                <th width="80">Type</th>
  
                <th width="80">Status</th>
  
                <th width="80">User</th>
  
                <th width="120">Date</th>
  
                <th width="80">Price</th>
  
                <th width="1"></th>
  
              </tr>
  
            </thead>
  
            <tbody>
  
              <tr v-for="(order, index) in items" :key="index">
  
                <td>{{order.id}}</td>
  
                <td>{{order.type}}</td>
  
                <td>{{order.title}}</td>
  
                <td>{{order.sub_type}}</td>
  
                <td>{{order.published}}</td>
  
                <td>{{order.user_id}}</td>
  
                <td>{{order.created_at}}</td>
  
                <td>{{order.group_id}}</td>
  
                <td width="54">
  
                  <router-link class="btn btn-inline btn-default-outline btn-sm" class="dropdown-item" :to="'/dashboard/ads/' + order.id">
  
                    <i class="glyphicon glyphicon-list"></i>
  
                  </router-link>
  
                  <button type="button" class="btn btn-inline btn-default-outline btn-sm hide" @click="getPostSelect(order)">
  
              
  
              </button>
  
                </td>
  
              </tr>
  
            </tbody>
  
          </table>
  
  
  
        </div>
  
      </div>
  
      <!--.box-typical-body-->
  
    </section>
  
    <!--.box-typical-->
  
    <edit-ad v-if="post" :edit-item="post">
  
      <edit-ad>
  
  </div>
</template>

<script>
  var EditAd = httpVueLoader('vue/ads/edit-ad.vue');
  
  module.exports = {
  
    name: "ad-table",
  
    components: {
  
      EditAd
  
    },
  
    mixins: [],
  
    data() {
  
      return {
  
        items: [],
  
        post: 0
  
      }
  
    },
  
    props: [],
  
    methods: {
  
      getPosts: function() {
  
        fetch('//core.me/api/posts').then((res) => {
  
          return res.json()
  
        }).then((json) => {
  
          this.items = json
  
        })
  
      },
  
      getPostSelect: function(post) {
  
        this.post = post
  
      }
  
    },
  
    mounted() {
  
  
  
      this.getPosts()
  
    },
  
    created() {}
  
  }
</script>

<style scoped>
  
</style>