<template>
  <div class="page-content">
    <div class="container-fluid">

      <section class="box-typical">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
              <h3>23 Reports  </h3>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn"><i class="font-icon font-icon-pencil"></i></button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn"><i class="font-icon font-icon-re"></i></button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn"><i class="font-icon font-icon-trash"></i></button>
            </div>
          </div>
        </header>
        <div class="box-typical-body">
          <div class="table-responsive">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>

          <th width="1">
            # Id
          </th>
          <th>Orde No</th>
          <th width="200">D.Name</th>
          <th width="200">P.Type</th>
          <th width="200">P.Status</th>
          <th>
            Grand Total
          </th>
          <th>
            Order Type
          </th>
          <th width="120">Date</th>

          <th></th>
        </tr>
        </thead>
        <tbody>
                  <tr v-for="order in orders">
          <td>{{order.id}}</td>
          <td>{{order.order_no}}</td>
          <td>{{order.delivery_name}}</td>
          <td>{{order.payment_type}}</td>
          <td>{{order.payment_status}}</td>
          <td>{{order.grand_total}}</td>
          <td>{{order.order_type}}</td>
                      <td>{{order.added_date}}</td>
            <td width="54">
              <button type="button" class="btn btn-inline btn-default-outline btn-sm">
<i class="glyphicon glyphicon-list"></i>
</button>
            </td>
        </tr>
        </tbody>
      </table>

          </div>
        </div><!--.box-typical-body-->
      </section><!--.box-typical-->



      <table id="table-xs" class="table table-bordered table-hover table-xs hide">
        <thead>
        <tr>
          <th width="1">
            # Id
          </th>
          <th>Orde No</th>
          <th>D.Name</th>
          <th>
            Grand Total
          </th>
          <th>
            Order Type
          </th>
          <th width="120">Date</th>
        </tr>
        </thead>
        <tbody>


        </tbody>
      </table>
    </div>
  </div>

</template>

<script>

module.exports = {
  name: "app-table",
  mixins: [],
    data(){
    return {
      doluData: {
        sen: 1,
        ben: 2
      },
      orders: []
    }
  },
  props: [],
  methods: {
    tiklabana: function(){
        //this.$store.commit('increment')
    },

    getCategories: function(){
        fetch('/api/table/rst_order').then((res) => {
          return res.json()
        }).then((json) => {
          this.orders = json
        })
    }
  },
  mounted(){

  },
  created(){
    this.getCategories()
  }
}
</script>

<style>
</style>

