<template>
  <div>
  <ul class="main-nav nav nav-inline">
    <li class="nav-item">
      <router-link class="nav-link" :to="'/dashboard'">Dashboard</router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" :to="'/dashboard/blank'">Blank</router-link>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Prperties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
  </ul>
  </div>
</template>

<script>
module.exports =  {
  name: 'HeaderSort',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
