<template>
  <div class="control-panel control-panel-compact">

  <div class="page-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xl-6">
                  <div class="chart-statistic-box">
                      <div class="chart-txt">
                          <div class="chart-txt-top">
                              <p><span class="unit">$</span><span class="number">1540</span></p>
                              <p class="caption">Week income</p>
                          </div>
                          <table class="tbl-data">
                              <tr>
                                  <td class="price color-purple">120$</td>
                                  <td>Orders</td>
                              </tr>
                              <tr>
                                  <td class="price color-yellow">15$</td>
                                  <td>Investments</td>
                              </tr>
                              <tr>
                                  <td class="price color-lime">55$</td>
                                  <td>Others</td>
                              </tr>
                          </table>
                      </div>
                      <div class="chart-container">
                          <div class="chart-container-in">
                              <div id="chart_div"></div>
                              <header class="chart-container-title">Income</header>
                              <div class="chart-container-x">
                                  <div class="item"></div>
                                  <div class="item">tue</div>
                                  <div class="item">wed</div>
                                  <div class="item">thu</div>
                                  <div class="item">fri</div>
                                  <div class="item">sat</div>
                                  <div class="item">sun</div>
                                  <div class="item">mon</div>
                                  <div class="item"></div>
                              </div>
                              <div class="chart-container-y">
                                  <div class="item">300</div>
                                  <div class="item"></div>
                                  <div class="item">250</div>
                                  <div class="item"></div>
                                  <div class="item">200</div>
                                  <div class="item"></div>
                                  <div class="item">150</div>
                                  <div class="item"></div>
                                  <div class="item">100</div>
                                  <div class="item"></div>
                                  <div class="item">50</div>
                                  <div class="item"></div>
                              </div>
                          </div>
                      </div>
                  </div><!--.chart-statistic-box-->
              </div><!--.col-->
              <div class="col-xl-6">
                  <div class="row">
                      <div class="col-sm-4">
                          <article class="statistic-box red">
                              <div>
                                  <div class="number">26</div>
                                  <div class="caption"><div>Order</div></div>
                                  <div class="percent">
                                      <div class="arrow up"></div>
                                      <p>15%</p>
                                  </div>
                              </div>
                          </article>
                      </div><!--.col-->
                      <div class="col-sm-4">
                          <article class="statistic-box purple">
                              <div>
                                  <div class="number">12</div>
                                  <div class="caption"><div>Customers</div></div>
                                  <div class="percent">
                                      <div class="arrow down"></div>
                                      <p>11%</p>
                                  </div>
                              </div>
                          </article>
                      </div><!--.col-->
                      <div class="col-sm-4">
                          <article class="statistic-box yellow">
                              <div>
                                  <div class="number">104</div>
                                  <div class="caption"><div>Reviews</div></div>
                                  <div class="percent">
                                      <div class="arrow down"></div>
                                      <p>5%</p>
                                  </div>
                              </div>
                          </article>
                      </div><!--.col-->
                      <div class="col-sm-4">
                          <article class="statistic-box green">
                              <div>
                                  <div class="number">29</div>
                                  <div class="caption">
                                  <div>
                                    Menu
                                  </div>
                                </div>
                                  <div class="percent">
                                      <div class="arrow up"></div>
                                      <p>84%</p>
                                  </div>
                              </div>
                          </article>
                      </div><!--.col-->
                      <div class="col-sm-4">
                          <article class="statistic-box purple">
                              <div>
                                  <div class="number">12</div>
                                  <div class="caption"><div>Customers</div></div>
                                  <div class="percent">
                                      <div class="arrow down"></div>
                                      <p>11%</p>
                                  </div>
                              </div>
                          </article>
                      </div><!--.col-->
                      <div class="col-sm-4">
                          <article class="statistic-box yellow">
                              <div>
                                  <div class="number">104</div>
                                  <div class="caption"><div>Reviews</div></div>
                                  <div class="percent">
                                      <div class="arrow down"></div>
                                      <p>5%</p>
                                  </div>
                              </div>
                          </article>
                      </div><!--.col-->
                  </div><!--.row-->
              </div><!--.col-->
          </div><!--.row-->
<div class="row">
            <div class="col-xl-3">
              <section class="widget widget-simple-sm">
                <div class="widget-simple-sm-statistic">
                  <div class="number">1 426</div>
                  <div class="caption color-blue">New orders</div>
                </div>
                <div class="widget-simple-sm-bottom statistic"><span class="arrow color-green">↑</span> 3% increase <strong>1w ago</strong></div>
              </section><!--.widget-simple-sm-->
            </div>
            <div class="col-xl-3">
              <section class="widget widget-simple-sm">
                <div class="widget-simple-sm-statistic">
                  <div class="number">63 541</div>
                  <div class="caption color-purple">Total sales gross</div>
                </div>
                <div class="widget-simple-sm-bottom statistic"><span class="arrow color-green">↑</span> 3% increase <strong>1w ago</strong></div>
              </section><!--.widget-simple-sm-->
            </div>
            <div class="col-xl-3">
              <section class="widget widget-simple-sm">
                <div class="widget-simple-sm-statistic">
                  <div class="number">852</div>
                  <div class="caption color-red">New orders</div>
                </div>
                <div class="widget-simple-sm-bottom statistic"><span class="arrow color-green">↑</span> 3% increase <strong>1w ago</strong></div>
              </section><!--.widget-simple-sm-->
            </div>
            <div class="col-xl-3">
              <section class="widget widget-simple-sm">
                <div class="widget-simple-sm-statistic">
                  <div class="number">87</div>
                  <div class="caption color-green">Total sales gross</div>
                </div>
                <div class="widget-simple-sm-bottom statistic"><span class="arrow color-red">↓</span> 6% decrease <strong>1w ago</strong></div>
              </section><!--.widget-simple-sm-->
            </div>
          </div><!--.row-->
          <div class="row">
              <div class="col-xl-6 dahsboard-column">
                  <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                      <header class="box-typical-header panel-heading">
                          <h3 class="panel-title">Recent orders</h3>
                      </header>
                      <div class="box-typical-body panel-body">
                          <table class="tbl-typical">
                              <tr>
                                  <th><div>Status</div></th>
                                  <th><div>Clients</div></th>
                                  <th align="center"><div>Orders#</div></th>
                                  <th align="center"><div>Date</div></th>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-primary">Paid</span>
                                      <span class="label label-success">Active</span>
                                  </td>
                                  <td>John Doe</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-primary">Paid</span>
                                      <span class="label label-success">Active</span>
                                  </td>
                                  <td>Thomas Bayer</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-primary">Paid</span>
                                      <span class="label label-default">Inactive</span>
                                  </td>
                                  <td>Nicolas Karabat</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-default">Unpaid</span>
                                      <span class="label label-default">Inactive</span>
                                  </td>
                                  <td>Alexandre Pome</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center">23th May</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-primary">Paid</span>
                                      <span class="label label-success">Active</span>
                                  </td>
                                  <td>John Doe</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-primary">Paid</span>
                                      <span class="label label-success">Active</span>
                                  </td>
                                  <td>Thomas Bayer</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-primary">Paid</span>
                                      <span class="label label-default">Inactive</span>
                                  </td>
                                  <td>Nicolas Karabat</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-default">Unpaid</span>
                                      <span class="label label-default">Inactive</span>
                                  </td>
                                  <td>Alexandre Pome</td>
                                  <td align="center">3435362</td>
                                  <td class="color-blue-grey" nowrap align="center">23th May</td>
                              </tr>
                          </table>
                      </div><!--.box-typical-body-->
                  </section><!--.box-typical-dashboard-->
                  <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                      <header class="box-typical-header panel-heading">
                          <h3 class="panel-title">Comments</h3>
                      </header>
                      <div class="box-typical-body panel-body">
                          <article class="comment-item">
                              <div class="user-card-row">
                                  <div class="tbl-row">
                                      <div class="tbl-cell tbl-cell-photo">
                                          <a href="#">
                                              <img src="/assets/img/photo-64-1.jpg" alt="">
                                          </a>
                                      </div>
                                      <div class="tbl-cell">
                                          <span class="user-card-row-name"><a href="#">Matt McGill</a></span>
                                      </div>
                                      <div class="tbl-cell tbl-cell-date">
                                          <span class="semibold">Today</span>
                                          12:45
                                      </div>
                                  </div>
                              </div>
                              <div class="comment-item-txt">
                                  <p>That’s a great idea! I’m sure we could start this project as soon as possible.</p>
                                  <p>Let’s meet tomorow!</p>
                              </div>
                              <div class="comment-item-meta">
                                  <a href="#" class="star">
                                      <i class="font-icon font-icon-star"></i>
                                  </a>
                                  <a href="#">
                                      <i class="font-icon font-icon-re"></i>
                                  </a>
                                  <!--Реализация кнопками-->
                                  <!--<button type="button" class="star">-->
                                  <!--<i class="font-icon font-icon-star"></i>-->
                                  <!--</button>-->
                                  <!--<button type="button">-->
                                  <!--<i class="font-icon font-icon-re"></i>-->
                                  <!--</button>-->
                              </div>
                          </article>
                          <article class="comment-item">
                              <div class="user-card-row">
                                  <div class="tbl-row">
                                      <div class="tbl-cell tbl-cell-photo">
                                          <a href="#">
                                              <img src="/assets/img/photo-64-2.jpg" alt="">
                                          </a>
                                      </div>
                                      <div class="tbl-cell">
                                          <span class="user-card-row-name"><a href="#">Tim Collins</a></span>
                                      </div>
                                      <div class="tbl-cell tbl-cell-date">
                                          <span class="semibold">Today</span>
                                          12:45
                                      </div>
                                  </div>
                              </div>
                              <div class="comment-item-txt">
                                  <p>That’s a great idea! I’m sure we could start this project as soon as possible.</p>
                                  <p>Let’s meet tomorow!</p>
                              </div>
                              <div class="comment-item-meta">
                                  <a href="#" class="star active">
                                      <i class="font-icon font-icon-star"></i>
                                  </a>
                                  <a href="#">
                                      <i class="font-icon font-icon-re"></i>
                                  </a>
                                  <!--Реализация кнопками-->
                                  <!--<button type="button" class="star">-->
                                  <!--<i class="font-icon font-icon-star"></i>-->
                                  <!--</button>-->
                                  <!--<button type="button">-->
                                  <!--<i class="font-icon font-icon-re"></i>-->
                                  <!--</button>-->
                              </div>
                          </article>
                      </div><!--.box-typical-body-->
                  </section>
              </div><!--.col-->
              <div class="col-xl-6 dahsboard-column">
                  <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                      <header class="box-typical-header panel-heading">
                          <h3 class="panel-title">Recent tickets</h3>
                      </header>
                      <div class="box-typical-body panel-body">
                          <table class="tbl-typical">
                              <tr>
                                  <th><div>Status</div></th>
                                  <th><div>Subject</div></th>
                                  <th align="center"><div>Department</div></th>
                                  <th align="center"><div>Date</div></th>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-success">Open</span>
                                  </td>
                                  <td>Website down for one week</td>
                                  <td align="center">Support</td>
                                  <td nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-success">Open</span>
                                  </td>
                                  <td>Restoring default settings</td>
                                  <td align="center">Support</td>
                                  <td nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-warning">Progress</span>
                                  </td>
                                  <td>Loosing control on server</td>
                                  <td align="center">Support</td>
                                  <td nowrap align="center"><span class="semibold">Yesterday</span></td>
                              </tr>
                              <tr>
                                  <td>
                                      <span class="label label-danger">Closed</span>
                                  </td>
                                  <td>Authorizations keys</td>
                                  <td align="center">Support</td>
                                  <td nowrap align="center">23th May</td>
                              </tr>
                          </table>
                      </div><!--.box-typical-body-->
                  </section><!--.box-typical-dashboard-->
                  <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                      <header class="box-typical-header panel-heading">
                          <h3 class="panel-title">Contacts</h3>
                      </header>
                      <div class="box-typical-body panel-body">
                          <div class="contact-row-list">
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-2.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Tim Collins</a></p>
                                              <p class="user-card-row-mail"><a href="#">timcolins@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">Director at Tony’s</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-1.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                              <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-3.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Molly Bridjet</a></p>
                                              <p class="user-card-row-mail"><a href="#">mollybr@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">Assistan</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-4.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                              <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-2.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Tim Collins</a></p>
                                              <p class="user-card-row-mail"><a href="#">timcolins@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">Director at Tony’s</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-1.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                              <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-3.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Molly Bridjet</a></p>
                                              <p class="user-card-row-mail"><a href="#">mollybr@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">Assistan</div>
                                      </div>
                                  </div>
                              </article>
                              <article class="contact-row">
                                  <div class="user-card-row">
                                      <div class="tbl-row">
                                          <div class="tbl-cell tbl-cell-photo">
                                              <a href="#">
                                                  <img src="/assets/img/photo-64-4.jpg" alt="">
                                              </a>
                                          </div>
                                          <div class="tbl-cell">
                                              <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                              <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                          </div>
                                          <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                      </div>
                                  </div>
                              </article>
                          </div>
                      </div><!--.box-typical-body-->
                  </section><!--.box-typical-dashboard-->
              </div><!--.col-->
          </div>
      </div><!--.container-fluid-->
  </div><!--.page-content-->

  <div class="control-panel-container">
      <ul>
          <li class="tasks">
              <div class="control-item-header">
                  <a href="#" class="icon-toggle">
                      <span class="caret-down fa fa-caret-down"></span>
                      <span class="icon fa fa-tasks"></span>
                  </a>
                  <span class="text">Task list</span>
                  <div class="actions">
                      <a href="#">
                          <span class="fa fa-refresh"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-cog"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-trash"></span>
                      </a>
                  </div>
              </div>
              <div class="control-item-content">
                  <div class="control-item-content-text">You don't have pending tasks.</div>
              </div>
          </li>
          <li class="sticky-note">
              <div class="control-item-header">
                  <a href="#" class="icon-toggle">
                      <span class="caret-down fa fa-caret-down"></span>
                      <span class="icon fa fa-file"></span>
                  </a>
                  <span class="text">Sticky Note</span>
                  <div class="actions">
                      <a href="#">
                          <span class="fa fa-refresh"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-cog"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-trash"></span>
                      </a>
                  </div>
              </div>
              <div class="control-item-content">
                  <div class="control-item-content-text">
                      StartUI – a full featured, premium web application admin dashboard built with Twitter Bootstrap 4, JQuery and CSS
                  </div>
              </div>
          </li>
          <li class="emails">
              <div class="control-item-header">
                  <a href="#" class="icon-toggle">
                      <span class="caret-down fa fa-caret-down"></span>
                      <span class="icon fa fa-envelope"></span>
                  </a>
                  <span class="text">Recent e-mails</span>
                  <div class="actions">
                      <a href="#">
                          <span class="fa fa-refresh"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-cog"></span>
                      </a>
                      <a href="#">
                          <span class="fa fa-trash"></span>
                      </a>
                  </div>
              </div>
              <div class="control-item-content">
                  <section class="control-item-actions">
                      <a href="#" class="link">My e-mails</a>
                      <a href="#" class="mark">Mark visible as read</a>
                  </section>
                  <ul class="control-item-lists">
                      <li>
                          <a href="#">
                              <h6>Welcome to the Community!</h6>
                              <div>Hi, welcome to the my app...</div>
                              <div>
                                  Message text
                              </div>
                          </a>
                          <a href="#" class="reply-all">Reply all</a>
                      </li>
                      <li>
                          <a href="#">
                              <h6>Welcome to the Community!</h6>
                              <div>Hi, welcome to the my app...</div>
                              <div>
                                  Message text
                              </div>
                          </a>
                          <a href="#" class="reply-all">Reply all</a>
                      </li>
                      <li>
                          <a href="#">
                              <h6>Welcome to the Community!</h6>
                              <div>Hi, welcome to the my app...</div>
                              <div>
                                  Message text
                              </div>
                          </a>
                          <a href="#" class="reply-all">Reply all</a>
                      </li>
                  </ul>
              </div>
          </li>
          <li class="add">
              <div class="control-item-header">
                  <a href="#" class="icon-toggle no-caret">
                      <span class="icon fa fa-plus"></span>
                  </a>
              </div>
          </li>
      </ul>
      <a class="control-panel-toggle">
          <span class="fa fa-angle-double-left"></span>
      </a>
  </div>

    </div>
  </template>

  <script>
var $ = window.$
var google = window.google


      function drawChart(){
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Day');
        dataTable.addColumn('number', 'Values');
        // A column for custom tooltip content
        dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
        dataTable.addRows([
          ['MON',  130, ' '],
          ['TUE',  130, '130'],
          ['WED',  180, '180'],
          ['THU',  175, '175'],
          ['FRI',  200, '200'],
          ['SAT',  170, '170'],
          ['SUN',  250, '250'],
          ['MON',  220, '220'],
          ['TUE',  220, ' ']
        ]);

        var options = {
          height: 314,
          legend: 'none',
          areaOpacity: 0.18,
          axisTitlesPosition: 'out',
          hAxis: {
            title: '',
            textStyle: {
              color: '#fff',
              fontName: 'Proxima Nova',
              fontSize: 11,
              bold: true,
              italic: false
            },
            textPosition: 'out'
          },
          vAxis: {
            minValue: 0,
            textPosition: 'out',
            textStyle: {
              color: '#fff',
              fontName: 'Proxima Nova',
              fontSize: 11,
              bold: true,
              italic: false
            },
            baselineColor: '#16b4fc',
            ticks: [0,25,50,75,100,125,150,175,200,225,250,275,300,325,350],
            gridlines: {
              color: '#1ba0fc',
              count: 15
            }
          },
          lineWidth: 2,
          colors: ['#fff'],
          curveType: 'function',
          pointSize: 5,
          pointShapeType: 'circle',
          pointFillColor: '#f00',
          backgroundColor: {
            fill: '#008ffb',
            strokeWidth: 0,
          },
          chartArea:{
            left:0,
            top:0,
            width:'100%',
            height:'100%'
          },
          fontSize: 11,
          fontName: 'Proxima Nova',
          tooltip: {
            trigger: 'selection',
            isHtml: true
          }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      }
  module.exports = {
    name: "dashboard",
    mounted(){
            google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);




      $(window).resize(() => {
        drawChart();
        setTimeout(() => {
        }, 1000);
      });
      setTimeout(() => {
                         $('.panel').each( (index, el) => {

                try {

                    $(el).lobiPanel({
                      destroy: true,
                        sortable: true
                    }).on('dragged.lobiPanel', (ev, lobiPanel) =>{
                        $('.dahsboard-column').matchHeight();
                    });
                } catch (err) {}
            });
      }, 100)

    }
  }
  </script>

  <style>
  @import url('../../assets/css/lib/lobipanel/lobipanel.min.css');
  @import url('../../assets/css/separate/vendor/lobipanel.min.css');
  @import url('../../assets/css/lib/jqueryui/jquery-ui.min.css');
  @import url('../../assets/css/separate/pages/widgets.min.css');
  .control-panel .control-panel-container {
    padding-top: 135px;
}
  </style>


