<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">
              <div class="row">

        <div class="col-md-4">
                <section class="card mb-3">
        <header class="card-header">
          Options
        </header>
        <div class="card-block left-menu">
<ul>
<li>
  <a  @click="current_tab = 'informations'">Informations</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'times'">Opening Times</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'receiving'">Receiving Order Settings</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'delivery'">Delivery Settings</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'payment'">Payment Settings</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'tax'">Tax Settings</a>
<div class="dropdown-divider"></div>
</li>

<li>
  <a @click="current_tab = 'images'">Images</a>
<div class="dropdown-divider"></div>
</li>



<li>
  <a @click="current_tab = 'currency'">Currency Info</a>
<div class="dropdown-divider"></div>
</li>


<li>
  <a @click="current_tab = 'plugins'">Plugins</a>
</li>
</ul>
        </div>
      </section>

 <section class="card mb-3">
        <header class="card-header">
          Site Options
        </header>
        <div class="card-block left-menu">
<ul>
  <li>
  <a @click="current_tab = 'site'">Site Settings</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'offline'">Offline Info</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'analiytics'">Analytics Code</a>
<div class="dropdown-divider"></div>
</li>
<li>
  <a @click="current_tab = 'meta'">Meta Tag</a>
<div class="dropdown-divider"></div>
</li>
</ul>
</div>
</section>

        </div>

<div class="col-md-8">
<set-informations v-if="current_tab == 'informations'"></set-informations>
<set-times v-if="current_tab == 'times'"></set-times>
<set-tax v-if="current_tab == 'tax'"></set-tax>
<set-receiving v-if="current_tab == 'receiving'"></set-receiving>
<set-delivery v-if="current_tab == 'delivery'"></set-delivery>
<set-currency v-if="current_tab == 'currency'"></set-currency>
<set-payment v-if="current_tab == 'payment'"></set-payment>
<set-site v-if="current_tab == 'site'"></set-site>
<set-offline v-if="current_tab == 'offline'"></set-offline>
<set-analiytics v-if="current_tab == 'analiytics'"></set-analiytics>
<set-meta v-if="current_tab == 'meta'"></set-meta>
<set-plugins v-if="current_tab == 'plugins'"></set-plugins>
<set-images v-if="current_tab == 'images'"></set-images>

<template v-if="!current_tab">
    yok bişe
</template>

</div>

  </div>
  </div>
  </div>
  </template>

  <script>
    var SetTimes = httpVueLoader('vue/components/set-times.vue');
    var SetInformations = httpVueLoader('vue/components/set-informations.vue');
    var SetDelivery = httpVueLoader('vue/components/set-delivery.vue');
    var SetReceiving = httpVueLoader('vue/components/set-receiving.vue');
    var SetSite = httpVueLoader('vue/components/set-site.vue');
    var SetTax = httpVueLoader('vue/components/set-tax.vue');
    var SetPayment = httpVueLoader('vue/components/set-payment.vue');
    var SetOffline = httpVueLoader('vue/components/set-offline.vue');
    var SetMeta = httpVueLoader('vue/components/set-meta.vue');
    var SetCurrency = httpVueLoader('vue/components/set-currency.vue');
    var SetAnaliytics = httpVueLoader('vue/components/set-analiytics.vue');
    var SetPlugins = httpVueLoader('vue/components/set-plugins.vue');
    var SetImages = httpVueLoader('vue/components/set-images.vue');
  module.exports = {
    name: "information",
    components: {SetTimes,SetInformations,SetDelivery,SetReceiving,SetSite,SetTax,SetPayment,SetOffline,SetMeta,SetCurrency,SetAnaliytics, SetPlugins, SetImages},
    data() {
    return {
      current_tab: 'informations'
    };
    },
    computed: {},
    mounted() {
      this.$store.dispatch('ekle', {
  type: 'ekle1',
  amount: 10
})


      //.commit('increment', 'deneme')
      $('body').addClass('with-side-menu-compact1');
    /*  localforage.getItem('site_settings_' + localStorage.getItem('restaurant_id'))
      .then(data => this.informations = data)*/
    },
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  .card-block.left-menu {
    background: #f6f8fa;
  }
  .card-block.left-menu ul li {
    margin: 0 0 .5rem;
  }
  .card-block.left-menu ul li a {
    color: #000;
    font-weight: 600;
  }
  </style>
