<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">

<table id="table-xs" class="table table-bordered table-hover table-xs">
<thead>
  <tr>
    <th>S.No</th>
    <th>Language Name</th>
    <th>Language code</th>
    <th>Added Date</th>
    <th>Site Lang</th>
    <th>Status</th>
    <th>Option</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
    <td>x</td>
  </tr>
</tbody>
</table>
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "language",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>

