<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">
tools
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "tools",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>

