<template>
<div>
    								      <section>
        <div>
          				<form>
                              <div class="form-group row">
						<label for="exampleSelect" class="col-sm-2 form-control-label">Source</label>
						<div class="col-sm-10">
							<select id="exampleSelect" class="form-control">
								<option>Clone</option>
								<option>New Field</option>
							</select>
						</div>
					</div>
          <div class="form-group row">
						<label for="exampleSelect" class="col-sm-2 form-control-label">Type</label>
						<div class="col-sm-10">
							<select id="exampleSelect" class="form-control">
								<option>Text</option>
								<option>Select</option>
								<option>CheckBox</option>
								<option>Radio</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Text</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" class="form-control" id="inputPassword" placeholder="Text"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Text Disabled</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" disabled class="form-control" id="inputPassword" placeholder="Text Disabled"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Text Readonly</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" readonly class="form-control" id="inputPassword" placeholder="Text Readonly"></p>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 form-control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword" placeholder="Password">
						</div>
					</div>

					<div class="form-group row">
						<label for="exampleSelect2" class="col-sm-2 form-control-label">Multiple select</label>
						<div class="col-sm-10">
							<select multiple class="form-control" id="exampleSelect2">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="exampleSelect" class="col-sm-2 form-control-label">Textarea</label>
						<div class="col-sm-10">
							<textarea rows="4" class="form-control" placeholder="Textarea"></textarea>
						</div>
					</div>
				</form>


        </div>
      </section>
</div>
  </template>

  <script>

  module.exports = {
    name: "add-field",
    props: [],
          data() {
        return {};
      },
          computed: {},
      mounted() {
        
      },
      beforeCreate() {

      },
      created() {

      },
          methods: {
      },
  }
  </script>

  <style scoped>

  </style>

