<template>
<div>

    <section class="box-typical">
        <header class="box-typical-header">
          <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-action-bordered rb-1">
              <button type="button" class="action-btn">
                <span class="icon fa fa-long-arrow-left"></span>
            </button>
            </div>
            <div class="tbl-cell">
<ul class="nav nav-pills">
                <li class="nav-item">
                  <a :class="{ active: tab_page == 'options' }" class="nav-link" @click="tab_page = 'options'">Settings</a>
                </li>
                <li class="nav-item ">
                  <a :class="{ active: tab_page == 'forms' }" class="nav-link" @click="tab_page = 'forms'">Forms</a>
                </li>

                <li class="nav-item">
                  <a :class="{ active: tab_page == 'addons' }" class="nav-link" @click="tab_page = 'addons'">Reports</a>
                </li>

                <li class="nav-item">
                  <a :class="{ active: tab_page == 'images' }" class="nav-link"  @click="tab_page = 'images'">Gallery</a>
                </li>
                <li class="nav-item">
                  <a :class="{ active: tab_page == 'times' }" class="nav-link"  @click="tab_page = 'times'">Permissions</a>
                </li>
              </ul>

            </div>


            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="icon fa fa-ban"></span>
            </button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="icon fa fa-check"></span>
            </button>
            </div>
          </div>
        </header>
      </section>


      <section v-if="tab_page == 'options'">
      <section class="card mb-3">
        <header class="card-header">
          Options
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="row">
            <div class="col-md-8">
                              <div style="">
 <div class="form-group">
                  <input type="text" v-model="item.name" class="form-control" placeholder="Title"/>
                </div>
                <div class="form-group">
                  <textarea rows="4" v-model="item.description" class="form-control" placeholder="Body"></textarea>
                </div>
                </div>

                <pre class="hide">

{{getCategory | json}}
                </pre>

            </div>
            <div class="col-md-4">
              <div class="text-center">
<img src="assets/img/pizza.jpg" class="img-fluid rounded img-thumbnail" alt="" title="" style="">
</div>

            </div>
          </div>

        </div>
      </section>
              <section class="box-typical" v-box-typical>
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Prices
            </div>
            <div class="tbl-cell tbl-cell-actions">

              <button type="button" class="btn btn-primary btn-sm">
                <span class="icon fa fa-plus"></span> New Price
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Price Name
          </th>
          <th>Price</th>
          <th width="55">Manage</th>
        </tr>
        </thead>
        <tbody>
<tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->
</section>

        <section class="box-typical" v-box-typical  v-if="tab_page == 'forms'">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Fields
            </div>
<div class="tbl-cell  tbl-cell-actions" style="width:150px;">
              <select name="status"class="form-control">
                <option value="0" selected>Fields</option>
                <option>Text</option>
                <option>Select</option>
                <option>Date</option>
                <option>CheckBox</option>
                <option>Radio</option>
                <option>Color</option>
                <option>Map</option>
                <option>Number</option>
              </select>
            </div>
            <div class="tbl-cell tbl-cell-actions">
              <button type="button" 
              class="btn btn-primary btn-sm"
						data-toggle="modal"
						data-target=".bd-example-modal-lg"
              >
                <span class="icon fa fa-plus"></span> Add Field
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>Required</th>
          <th>Multiple</th>
          <th>price</th>
          <th>min</th>
          <th>max</th>
          <th>count</th>
          <th width="55">                                             Manage</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>İçecekler</td>
            <td>Gerekli</td>
            <td>evet</td>
            <td>5</td>
            <td>24</td>
            <td>56</td>
            <td>49</td>
            <td>

                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>



            </td>
          </tr>

          <tr>
            <td>Malzeme</td>
            <td>yes</td>
            <td>no</td>
            <td>yes</td>
            <td>32</td>
                        <td>20</td>
            <td>49</td>
            <td>

                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>



            </td>
          </tr>

        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->


      <section class="card mb-3"  v-if="tab_page == 'images'">
        <header class="card-header">
          Images
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="contacts-page-col-left">
              <div class="contacts-page-col-left-in">
resimler

              </div><!--.contacts-page-col-left-in-->
            </div><!--.contacts-page-col-left-->
            <div class="contacts-page-col-right">

              <form class="contacts-page-section">
                <header class="box-typical-header-sm">Select</header>

                <button type="submit" class="btn btn-rounded">Upload</button>
              </form>
            </div><!--.contacts-page-col-right-->
        </div>
      </section>

      <section class="card mb-3"  v-if="tab_page == 'prices2'">
        <header class="card-header">
          Prices
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
                              <table id="table-xs" class="table table-bordered table-hover table-xs">

         <thead>
        <tr>
          <th><input type="text" class="form-control" placeholder="name"/></th>
          <th>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>
            </th>
          <th class="table-icon-cell">
                        <button class="btn btn-primary btn-sm">
              <i class="icon fa fa-plus"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>

        </tbody>
      </table>

        </div>
      </section>

        <section class="card mb-3"  v-if="tab_page == 'times'">
        <header class="card-header">
          Available Days / Times
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="contacts-page-col-left">
              <div class="contacts-page-col-left-in">
days

              </div><!--.contacts-page-col-left-in-->
            </div><!--.contacts-page-col-left-->
            <div class="contacts-page-col-right">

              <form class="contacts-page-section">
                <header class="box-typical-header-sm">day</header>

                <button type="submit" class="btn btn-rounded">select</button>
              </form>
            </div><!--.contacts-page-col-right-->
        </div>
      </section>




				<button class="btn btn-inline btn-primary hide"
						data-toggle="modal"
						data-target=".bd-example-modal-lg">Large modal</button>

				<div class="modal fade bd-example-modal-lg"
					 tabindex="-1"
					 role="dialog"
					 aria-labelledby="myLargeModalLabel"
					 aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
									<i class="font-icon-close-2"></i>
								</button>
								<h4 class="modal-title" id="myModalLabel">Modal title</h4>
							</div>
							<div class="modal-body">
<add-field></add-field>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-rounded btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-rounded btn-primary">Save changes</button>
							</div>
						</div>
					</div>
				</div><!--.modal-->



</div><!--.page-content-->

  </template>

  <script>
var AddField = httpVueLoader('vue/forms/add-field.vue');
  module.exports = {
    name: "edit-category",
    components: {
      AddField
    },
    props: ['editItem'],
          data() {
        return {
item: 0,
tab_page: 'options'
        };
      },
          computed: {
           getCategory : function(){
              this.item = this.editItem;
              return this.editItem;
            },
          },
      mounted() {
        this.item = this.editItem
      },
      beforeCreate() {

      },
      created() {

      },
          methods: {
      },
  }
  </script>

  <style scoped>
  .tbl-cell-action-bordered.rb-1{
    border-left: 0 !important;
    border-right: solid 1px #d8e2e7 !important;
  }

  </style>

