<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Delivery Settings
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Takeout</label>
            <div class="col-sm-9">
              <p class="form-control-static">

If your restaurant does take-out orders, check this box. /checkbox<br />
Tips for Take out/checkbox

              </p>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Delivery</label>
            <div class="col-sm-9">
              <p class="form-control-static">

If your restaurant delivers, check this box. /checkbox<br />
Tips for Delivery/checkbox

              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Delivery Fee</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_delivery_fee" type="number" class="form-control" value="25.00" placeholder="">
                Enter a delivery fee
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Delivery charges applicable from</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_minimum_delivery_amount" type="number" class="form-control" value="79.00"  placeholder="">
                Enter Min. Delivery Amount
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Free Delivery Amount</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_minimum_free_delivery_amount" type="number" class="form-control" value="500.00"
                placeholder="">
                Enter Free Delivery Amount. This should be greater then Min. delivery amount
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Set Delivery Area</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                Zipcode / Google Map = radio
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Zip Codes</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_delivery_zipcodes" type="text" class="form-control" value="465465,78897,54545"  placeholder="zip codes">
              </p>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Google Map</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <button class="btn btn-primary btn-sm">
                Service Map Area
                </button>
                Please click to draw the service area from map.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Map Zooming</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_delivery_mapzoom" type="number" class="form-control" value="1"  placeholder="">
                Delivery map zooming in user side
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Min Delivery Time</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_min_delivery_time" type="number" class="form-control" value="40">
                Min delivery time of delivery order (In minutes.)

              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Extra Delivery Time</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="form.setting_delivery.restaurant_extra_delivery_time" type="number" class="form-control" value="60"  placeholder="">
                For delivery orders, how much extra time should we add to the takeout lead time?
              </p>
            </div>
          </div>
          <button @click="updateSetting()" class="btn btn-primary btn-block">
Güncelle
          </button>
<pre>
  {{form | json}}
</pre>

        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names: [
      'restaurant_takeout',
      'takeout_tips',
      'restaurant_delivery',
      'delivery_tips',
      'set_delivery_address_by',
      'restaurant_min_delivery_time',
      'restaurant_extra_delivery_time',
      'restaurant_delivery_mapzoom',
      'restaurant_delivery_zipcodes',
      'restaurant_minimum_free_delivery_amount',
      'restaurant_minimum_delivery_amount',
      'restaurant_delivery_fee'
      'restaurant_delivery_radious',
  'restaurant_order_lead_time'
    ],
     form: {
      restaurant_id: 1,
      setting_delivery : {
        restaurant_min_delivery_time: 0,
        restaurant_extra_delivery_time: 0
      }
     }
    };
    },
    computed: {},
    mounted() {
      let count = 1

              this.$store.dispatch('ekle2', {
  type: 'ekle2',
  amount: count++
});

            this.$store.commit('dataEkle', this.form);

      //this.updateRoot('deneme', 'baksana2');
      this.getLocalData('setting_delivery', (data) => {
       this.form.setting_delivery = data
      })
      setTimeout(() => {
     /*_.pick(data,
'restaurant_takeout',
'takeout_tips',
'restaurant_delivery',
'delivery_tips',
'set_delivery_address_by'
'restaurant_min_delivery_time',
'restaurant_extra_delivery_time',
'restaurant_delivery_mapzoom',
'restaurant_delivery_zipcodes',
'restaurant_minimum_free_delivery_amount',
'restaurant_minimum_delivery_amount',
'restaurant_delivery_fee'
           )*/
      }, 2000)
    },
    beforeCreate() {},
    created() {},
    methods: {
      updateSetting: function(){

        this.axios_test('/restaurant/add-meta', this.form, (response) => {
          console.log(response.data)
        })

        /*this.post('//rest.me/api/restaurant/add-meta', this.setting_delivery, (response) => {
          console.log(response)
        })*/
      }
    }
  }
  </script>

  <style>
  </style>
